{% extends "../_layouts/page.twig" %}

{% block title "nourthe's Blog - " ~ title %}

  {% block header_content %}
    <a href="/blog"><h4>Return to blog menu</h4></a>
    <h1>{{title}}</h1>
    <h2>{{description}}</h2>
  {% endblock %}

{% block content %}

<section>
  <div class="container">
    {{ body }}
  </div>
</section>

<section>
  <div class="container">
    <div id="hashover"></div>
  </div>
</section>

<script type="text/javascript" src="/app/hashover/comments.php"></script>

{% endblock %}
