{% extends "../_layouts/page.twig" %}
{% block title "Portfolio" %}

{% block header_content %}
          <h1>Web Portfolio</h1>
          <h2>My web projects.</h2>
          <div class="d-lg-flexx d-none ">
            <a href="#about" class="btn-get-started scrollto">LinkedIn</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true">Github<i class="icofont-play-alt-2"></i></a>
          </div>
{% endblock %}

{% block content %}

  <section>
    <div class="container">
      <h3>All proyects:</h3>
      <div class="col-lg-3 col-md-6 footer-links">
        <ul>
          {% for entry in tp.portfolioEntries %}
            <li><a href="/{{entry.permalink}}">{{entry.project}}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </section>

{% endblock %}
