<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#75b140">
    <title>nourthe Web</title>
  </head>
  <body>
    <div id="preloader" style="background: #75b140; position: fixed; top: 0; bottom: 0; left: 0; right: 0;"></div>

  {% set title %}{{ block("title") }}{% endset %}
  {% set menu = _context.pages %}
  {% include "@components/menu.twig" with {'mobile': true} %}
  <button type="button" class="mobile-nav-toggle d-lg-none"><i class="material-icons">menu</i></button>
  <div class="mobile-nav-overly"></div>

    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">nourthe</a></h1>

      <div class="nav-scroller py-1 mb-2">
        {% include "@components/menu.twig" with {'mobile': false} %}
      </div>

      <a href="{{ _context.links.github }}" class="get-started-btn scrollto">
       <i class="bx bxl-github"></i>
        Github
      </a>

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
          {% block header_content %}
          {% endblock %}
      </div>
    </div>

  </section><!-- End Hero -->




    {% block content %}
    {% endblock %}

    <footer id="footer">
      {% include "@components/footer.twig"  %}
    </footer>
  </body>
</html>
