{% extends "_layouts/template.twig" %}
{% block title "Home" %}

{% block header_content %}
          <h1>NOURTHE</h1>
          <h2>Desarrollador de Software</h2>
          <div class="d-lg-flex">
            <a href="#about" class="btn-get-started scrollto"><i class="bx bxl-linkedin-square bx-sm btn-bx"></i>LinkedIn</a>
            <a href="{{ _context.links.github }}" class="venobox btn-watch-video" ><i class="bx bxl-github"></i>Github</a>
          </div>
{% endblock %}

{% block content %}
  <a href="about/">ABOUT</a>
  <div>probando index.html</div>
{% endblock %}
