{% extends "_layouts/template.twig" %}
{% block title "About" %}

{% block header_content %}
          <h1></h1>
          <h2></h2>
          <div class="d-lg-flex">
            <a href="#about" class="btn-get-started scrollto">LinkedIn</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true">Github</a>
          </div>
{% endblock %}

{% block content %}
  <a href="/">VOLVER</a>
  <div>probando Portfolio!</div>
{% endblock %}
