{% extends "_layouts/template.twig" %}
{% block title "Portfolio" %}

{% block header_content %}
          <h1>Portfolio</h1>
          <h2>My web projects.</h2>
          <div class="d-lg-flexx d-none ">
            <a href="#about" class="btn-get-started scrollto">LinkedIn</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true">Github<i class="icofont-play-alt-2"></i></a>
          </div>
{% endblock %}

{% block content %}
  <a href="/">VOLVER</a>
  <div>probando Portfolio!</div>
{% endblock %}
